<div class="ui search">
  <div class="ui icon input">
{{input
  value=this.value
  key-up=(action "handleFilterEntry")
  class="prompt"
  type="text"
  placeholder="Search....."
}}
<i class="search icon"></i>
  </div>
{{yield this.results}}
</div>