<div class="ui large modal active" id="InfosModal">
  
    <div class="header">
      <i class="info circle icon"></i>
      Infos 
      <div class="ui negative right floated labeled icon button" {{action "delete" model.script}}>
        Delete
        <i class="x icon"></i>
      </div>
    </div>
    
    <div class="content">
      <i class="icon chess king"></i>Owner : <label class="ui label violet">{{model.script.proprio.identity}}</label>
      <hr>
      <form class="ui form" method="post">
        <div class="field">
        <label>Name</label>
      {{input value=model.script.name}}
        </div>
        <div class="fields">
          <div class="field">
        <label class="ui red label"><i class="tags icon"></i>Category</label>
        <select name="" id="Scatego" class="ui fluid dropdown">
              <option value="{{model.script.categorys.id}}">{{model.script.categorys.name}}</option>
              {{#each model.categorys as |category|}}
                <option value={{category.id}}>{{category.name}}</option>
              {{/each}}
            </select>
      {{!--{{input value=model.categorys.name}}--}}
      </div>
      <div class="field">
        <label class="ui blue label"><i class="cube icon"></i>Type</label>
       <select name="" id="Stype" class="ui fluid dropdown">
              <option value="{{model.script.typeScript.id}}">{{model.script.typeScript.name}}</option>
              {{#each model.types as |type|}}
                <option value={{type.id}}>{{type.name}}</option>
              {{/each}}
            </select> 
      </div>
       <div class="field">
        <label class="ui green label"><i class="language icon"></i>Language</label>
       <select name="" id="Slang" class="ui fluid dropdown">
              <option value="{{model.script.languages.id}}">{{model.script.languages.name}}</option>
              {{#each model.languages as |lang|}}
                <option value={{lang.id}}>{{lang.name}}</option>
              {{/each}}
            </select> 
      </div>
        </div>
        <div class="field">
      <label>Description</label>
      {{textarea value=model.script.description}}
        </div>
        <div class="field">
      <label>Content</label>
      {{textarea value=model.script.content}}
        </div>
      </form>
    </div>
    
    <div class="actions">
      {{#link-to "scripts"}}
        <div class="ui button">
        Cancel
      </div>
      {{/link-to}}
      
      <div class="ui positive right labeled icon button" {{action "save" model.script}}>
        Valid
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
{{outlet}}