 <div class="ui divider"></div>
 <h1 class="ui center aligned grid">Script-library</h1>
 <div class="ui divider"></div>

<div class="ui large menu">
  <a class="active item">
    Home
  </a>
  <a class="item" {{action "modMineG"}}>
    Links GSU
  </a>
  {{#link-to "my-groups" class="item"}}
    My Groups
  {{/link-to}}

  <div class="right menu">
    <div class="item transition hidden" id="Profile" {{action "ShowProfile"}}>
      Profil
    </div>
    <div class="item" id="DivC" >
        <div class="ui primary button"{{action "connModal"}} id="Bconn">Sign Up</div>
    </div>
    <div class="item transition hidden" id="Disco">
      <button class="ui primary button" {{action "deco"}}>Sign out</button>
    </div>
  </div>
</div>


<button {{action "openModal"}} class="ui facebook button"> <i class="icon archive"></i> Create entity</button>
<button {{action "Modalgroup"}} class="ui twitter button"> <i class="users icon"></i> Create group</button>

 <div class="ui vertical menu" id="menu_gauche">




     {{#link-to "scripts"}}
         <div class="item">
    <div class="header"> <i class="terminal icon"></i> Script </div>
    </div>
     {{/link-to}}
     
  

  
    {{#link-to "categorys"}}
    <div class="item">
      <div class="header"> <i class="tags icon"></i> Category </div>
      </div>
    {{/link-to}}
    
    
  {{#link-to "types"}}
    <div class="item">
    <div class="header"><i class="cube icon"></i> Type </div>
   
  </div>
  {{/link-to}}

  {{#link-to "languages"}}
    <div class="item">
    <div class="header"><i class="language icon"></i> Languages </div>
   
  </div>
  {{/link-to}}

  {{#link-to "locations"}}
    <div class="item">
    <div class="header"><i class="archive icon"></i> Locations</div>
   
  </div>
  {{/link-to}}
  
</div>

 <div class="ui container" id="main_container">
   {{!--<div class="ui search">
  <div class="ui icon input">
    {{input value=this.value key-up=(action "filterByName" value) class="prompt" type="text" placeholder="Search....."}}
    <i class="search icon"></i>
  </div>
</div>
<br>--}}
{{outlet}}

</div>



<div class="ui small  modal"  id="test-modal">
    <div class="header">
      Create entity
    </div>
    <div class="content">
      <form class="ui form" method="post"  >
        <div class="two fields">
          <div class="field">
            <label>Entity</label>
        <select name="selection" onchange={{action "selectOption"}} class="ui fluid dropdown" id="selecto">
        <option value="">...</option>
        <option value="script">Script</option>
        <option value="category">Category</option>
        <option value="type">Type</option>
        <option value="language">Language</option>
        <option value="location">Location</option>
      </select>
      </div>
      <div class="field">
        <label>Name</label>
      {{input value=model.name placeholder="Entity name" type="text"}}
        </div>
        </div>
        {{#if isScript}}
        <div class="three fields">
          <div class="field">
            <label>Category</label>
            <select name="" id="Scatego" class="ui fluid dropdown">
              <option value="">...</option>
              {{#each this.model.categorys as |category|}}
                <option value={{category.id}}>{{category.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="field">
            <label>Type</label>
            <select name="" id="Stype" class="ui fluid dropdown">
              <option value="">...</option>
              {{#each this.model.types as |type|}}
                <option value={{type.id}}>{{type.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="field">
            <label>Language</label>
            <select name="" id="Slang" class="ui fluid dropdown">
              <option value="">...</option>
              {{#each this.model.languages as |language|}}
                <option value={{language.id}}>{{language.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
                <div class="field">
        <label>Description</label>
        {{textarea rows="2" value=model.description}}
      </div>
  <div class="field">
    <label>Script</label>
    {{textarea value=model.content}}
  </div>
        {{/if}}

  


      </form>
    </div>
    <div class="actions">
      <div class="ui negative button">
       Cancel
      </div>
      <button type="submit" class="ui positive right labeled icon button" {{action "save" model}}>
        Create
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>





  <div class="ui large modal" id="LoginU">
    <div class="header">
      Connexion
    </div>
    <div class="content">
      <div class="ui placeholder segment">
  <div class="ui two column stackable center aligned grid">
    <div class="ui vertical divider">Or</div>
    <div class="middle aligned row">
      <div class="column">
        <div class="ui icon header">
          <i class="search icon"></i>
          Register
        </div>
        <form class="ui form" method="post">
          <div class="fields">
  <div class="field">
    <label>Login</label>
    {{input value=model.login placeholder="Login"}}
  </div>
  <div class="field">
    <label>Password</label>
    {{input value=model.password placeholder="******" type="password"}}
  </div>
  </div>
  <div class="fields">
  <div class="field">
    <label>E-mail</label>
    {{input value=model.email placeholder="joe@schmoe.com" type="email"}}
  </div>
  <div class="field">
    <label>Identity</label>
    {{input value=model.identity placeholder="First Last"}}
  </div>
  </div>
  <button class="ui button" type="submit" {{action "NewUser" model}}>Create</button>
</form>


      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="world icon"></i>
          Sign in
        </div>
       <form class="ui form" method="post">
  <div class="field">
    <label>Login</label>
    {{input value=model.login placeholder="Login"}}
  </div>
  <div class="field">
    <label>Password</label>
    {{input value=model.password placeholder="******" type="password"}}
  </div>
  <button class="ui button" type="submit" {{action "LoginU" model}}>Login</button>
</form>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="actions">
      <div class="ui negative button">
        Cancel
      </div>
    </div>
  </div>


  <div class="ui tiny modal " id="Cgroup">
    <div class="header">
      Create group
    </div>
    <div class="content">
       Propriétaire : {{model.user.identity}} ( vous )
      <hr>
      <form class="ui form" method="post">
        <div class="field">
          <label>Group name</label>
      {{input value=model.namegroup}}
      </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui negative button">
        Cancel
      </div>
      <button class="ui positive right labeled icon button" {{action "CreateGroup" model.namegroup}}>
        Yes
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>



  <div class="ui fullscreen modal" id="MineG" >
    <div class="header">
      Links GSU
    </div>
    <div class="content">





      <div class="ui placeholder segment">
  <div class="ui two column stackable center aligned grid">
    <div class="ui vertical divider">I</div>
    <div class="middle aligned row">
      <div class="column">
        <table class="ui striped table inverted" id="tabGroup">
  <thead>
    <tr>
      <th>Id</th>
      <th></th>
      <th>Name</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.groups as |group|}}
      
    
    <tr>
      <td>{{group.id}}</td>
      <td>
        {{#link-to "group-page" group.id}}
          <button class="ui button blue mini"><i class="sign-in icon"></i></button>
        {{/link-to}} 
      </td>
      <td>{{group.name}}</td>
      <td>{{group.proprio.identity}}</td>
      <td class="collapsing"><div class="ui fitted slider checkbox"><input type="checkbox"><label></label></div></td>
    </tr>
    {{/each}}
    </tbody>
</table>
      </div>
      <div class="column">
        <div class="ui top attached tabular menu">
  <div class="active item" id="tabS" {{action "MenuI"}}>Scripts</div>
  <div class="item" id="tabU" {{action "MenuI"}}>Users</div>
  <div class="item" id="tabL" {{action "MenuI"}}>Locations</div>
</div>
        <table class="ui striped table inverted" id="tabScript">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      {{!--<th>Owner</th>--}}
      <th>Description</th>
      <th>Language</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.minescripts as |mscript|}}
      
    
    <tr>
      <td>{{mscript.id}}</td>
      <td>{{mscript.name}}</td>
      {{!--<td>{{mscript.proprio.identity}}</td>--}}
      <td>{{mscript.description}}</td>
      <td>{{mscript.languages.name}}</td>
      <td class="collapsing"><div class="ui fitted slider checkbox"><input type="checkbox"><label></label></div></td>
    </tr>
    {{/each}}
    </tbody>
</table>
 <table class="ui striped table inverted transition hidden" id="tabUser">
  <thead>
    <tr>
      <th>Id</th>
      <th>Identity</th>
      {{!--<th>Owner</th>--}}
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.allusers as |user|}}
      
    
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.identity}}</td>
      {{!--<td>{{mscript.proprio.identity}}</td>--}}
      <td>{{user.email}}</td>
      <td class="collapsing"><div class="ui fitted slider checkbox"><input type="checkbox"><label></label></div></td>
    </tr>
    {{/each}}
    </tbody>
</table>
<table class="ui striped table inverted transition hidden" id="tabLoc">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.locations as |loc|}}
      
    
    <tr>
      <td>{{loc.id}}</td>
      <td>{{loc.name}}</td>
      <td class="collapsing"><div class="ui fitted slider checkbox"><input type="checkbox"><label></label></div></td>
    </tr>
    {{/each}}
    </tbody>
</table>
      </div>
    </div>
  </div>
</div>
     
    </div>
    <div class="actions">
      <div class="ui negative button">
        Cancel
      </div>
      <button class="ui positive right labeled icon button" {{action "linkSG"}}>
        Link
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>





   <div class="ui tiny modal" id="modalProfil">
    <div class="header">
      Profil
    </div>
    <div class="content">
       
      <form class="ui form" method="post">
        
      <div class="field">
          <label>Identity :</label>
          {{input value=model.user.identity}}
      </div>
      <div class="field">
          <label>Email :</label>
      {{input value=model.user.email}}
      </div>
      <div class="field">
          <label>Login :</label>
      {{input value=model.user.login}}
      </div>
      {{!--<div class="field">
          <label>Password :</label>
      {{input value=model.user.password type="password"}}
      </div>--}}
      </form>
    </div>
    <div class="actions">
      <div class="ui negative button">
        Cancel
      </div>
      <button class="ui positive right labeled icon button" {{action "editProfile" model.user}}>
        Edit
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>