<h3>Name group : {{model.group.name}}</h3>
<h4>Owner : {{model.group.proprio.identity}}</h4>
<strong {{action "iii" model.group.id}}>users :</strong>
{{#each model.group.users as |user|}}
    <p>{{user.identity}}</p>
{{/each}}
<strong>scripts associés à ce groupe :</strong>
 {{model.right.scripts}}
 {{model.right.script}}
{{#each model.right.script as |script|}}
    <p>{{script.name}}</p>
{{/each}}
{{outlet}}