<h2>Languages</h2>
<div class="ui search">
  <div class="ui icon input">
    {{input value=this.value key-up=(action "filterByName" value) class="prompt" type="text" placeholder="Search....."}}
    <i class="search icon"></i>
  </div>
</div>
<br>


<div class="ui  grid results">
    

    
    {{#each model as |language|}}
    <div class="four wide column">
      <div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="right floated ui "><i class="icon language"></i></div>
      <div class="header">{{language.name}}</div>
      <div class="description">
        {{language.description}}
      </div>
    </div>
    {{!--
    {{#link-to "EditSimpleObj" language.id}}
      <div class="ui bottom attached button">
      <i class="info circle icon"></i>
      Plus d'infos
    </div>
    {{/link-to}}
    --}}
    {{#link-to "languages.children-lang" language.id}}
      <div class="ui bottom attached button">
      <i class="add icon"></i>
      Scripts associés
    </div>
    {{/link-to}}
    
    
  </div>
  </div>
        </div>
    {{/each}}
    </div>
   <hr>
{{outlet}}