<h2>My groups</h2>
<div class="ui search">
  <div class="ui icon input">
    {{input value=this.value key-up=(action "filterByName" value) class="prompt" type="text" placeholder="Search....."}}
    <i class="search icon"></i>
  </div>
</div>
<br>


<div class="ui  grid ">
    
    {{#each model.OwnerG as |group|}}
    <div class="four wide column">
      <div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="right floated ui "><i class="icon users"></i></div>
      <div class="header">{{group.name}}</div>
      <div class="description">
        Owner : {{group.proprio.identity}}
      </div>
    </div>
    {{#link-to "group-page" group.id}}
      <div class="ui bottom attached button">
      <i class="info circle icon"></i>
      Plus d'infos
    </div>
    {{/link-to}}
    
  </div>
  </div>
        </div>
    {{/each}}
    </div>

    <hr>

    <div class="ui  grid ">
    
    {{#each model.UserG as |group|}}
    <div class="four wide column">
      <div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="right floated ui "><i class="icon users"></i></div>
      <div class="header">{{group.name}}</div>
      <div class="description">
        Owner : {{group.proprio.identity}}
      </div>
    </div>
    {{#link-to "group-page" group.id}}
      <div class="ui bottom attached button">
      <i class="info circle icon"></i>
      Plus d'infos
    </div>
    {{/link-to}}
    
  </div>
  </div>
        </div>
    {{/each}}
    </div>

{{outlet}}