<h2>Scripts</h2>
<div class="ui search">
  <div class="ui icon input">
    {{input value=this.value key-up=(action "filterByName" value) class="prompt" type="text" placeholder="Search....."}}
    <i class="search icon"></i>
  </div>
 {{!-- <button class="ui button red" {{action "Ascripts"}}>All scripts
  </button>
  <button class="ui button green" {{action "Mscripts"}}>Mes scripts
  </button>--}}
</div>
<br>


<div class="ui  grid ">
    

    
    {{#each model as |script|}}
    <div class="four wide column">
      <div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="right floated ui "><i class="icon code"></i></div>
      <div class="header">{{script.name}}</div>
      <div class="description">
        {{script.description}}
      </div>
    </div>
    {{#link-to "scripts.edit" script.id}}
      <div class="ui bottom attached button">
      <i class="info circle icon"></i>
      Plus d'infos
    </div>
    {{/link-to}}
    
  </div>
  </div>
        </div>
    {{/each}}
    </div>
   




{{outlet}}
