<h2>Types</h2>
<div class="ui search">
  <div class="ui icon input">
    {{input value=this.value key-up=(action "filterByName" value) class="prompt" type="text" placeholder="Search....."}}
    <i class="search icon"></i>
  </div>
</div>
<br>


<div class="ui grid">
    
    {{#each model as |typ|}}
    <div class="four wide column">
      <div class="ui cards">
  <div class="card">
    <div class="content">
        <div class="right floated ui "><i class="icon cube"></i></div>
      <div class="header">{{typ.name}}</div>
    </div>
    {{#link-to "types.children-type" typ.id}}
       <div class="ui bottom attached button">
      <i class="add icon"></i>
      Scripts associés
    </div>
    {{/link-to}}
   
  </div>
        </div>
</div>
    {{/each}}
    </div>
  <hr>
{{outlet}}